@font-face {
    font-family: "HAND OF CRE";
    src: url('HAND-OF-CRE.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HAND OF CRE", sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame2{
    background-image: url('../Img/Frame2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frame1{
    background-color: #F2DEC4;
    background-image: url('../Img/fondo1-100.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0.4rem 65%;
   
}

.frame3{
    background-image: url('../Img/cafe-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frame4{
    background-image: url('../Img/fondo-lloro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frame5{
    background-image: url('../Img/programar-fondo-100.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frame6{
    background-image: url('../Img/dibujar-fondo-100.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frame7{
    background-image: url('../Img/jueguitos-fondo-100.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frame8{
    background-color: #4178BF;
}

.titulo-trabajo{
    position: absolute;
    top: 70%;
    right: 30%;
    font-size: 30px;
    font-weight: 300;
}

.titulo-cafe{
    font-weight: 400;
    position: absolute;
    top: 70%;
    left: 30%;
    font-size: 30px;
}